@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@1000,100;0,200;0,300;0,400;0,600;0,700;0,800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
	font-family: "Montserrat", Sans-serif;
	margin: 0;
}


.menu_geral {
	/* max-width: 960px; */
    display: flex;
    justify-content: space-between;
    text-decoration: none;
	font-size: 18px;
	font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
	margin: 0 auto;
	padding: 0 20px;
}

.navbar{
    /* padding-top: 8vh; */
    list-style: none;
    position: absolute;
    top: 12.5vh;
    left: 0vw;
    height: 67vh;
    background-color: black;
    transition: 200ms;
    cursor: pointer;
}

.navbar_ativo{
    left: -200vw;
    transition: 200ms;
    
}

header {
	background-color: black;
	color: #fff;
	padding: 1% 0;
	margin: 0;
}

.logo {
	margin-left: 12%;
    
}

.btn-menu{
    margin-right: 8vw;
    background-color: transparent;
    color: white;
    border: solid 1px transparent;
	margin-left: 2%;
	align-items: center;
    cursor: pointer;
	
}
.btn-menu:hover{
	color: beige;
}

ul.lista {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
ul.lista a{
    font-size: 25px;
    text-transform: uppercase;
}

ul.menu_nav{
    margin-top: 6%;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 20px;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 18px;
}

nav a:hover {
	color: beige;
    text-decoration: underline;
    text-decoration-color: beige;
    text-decoration-thickness: 0.2px;
}

.slide{
	margin: 0;
    width: 100%;
}

h1 {
	font-size: 36px;
}

p {
	font-size: 18px;
	line-height: 1.5;
}

.cards{
    align-items: center;
}

.botao-imagem img {
    background-color: transparent;
    margin-left: 2%; 
    width: 30%; 
    border-radius: 15px;
  }
.botao-imagem img:hover {
    opacity: 80%;
}

/*----------------------------- para botar texto com hover nas imagens botoes
/* .botao-imagem p{
    position: relative;
    margin-left: 12vw;
    margin-top: -50vh;
    color: transparent;
} */
 #slidehis{
    background-image: url("assets/img/skatecrt.psd");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 110vh;
 }
 #slidehis h1{
   color: beige;
   font-family: 'Segoe UI';
   /* text-transform: uppercase; */
   font-size: 50px;
   margin-left: 108px;
   font-weight: 500;
 }
 #slidehis h2{
   color: white;
   font-family: 'Segoe UI';
   text-transform: uppercase;
   margin-top: -28px;
   margin-left: 105px;
   font-size: 78px;
   font-weight: 700;

 }

 #slidehis p{
    color: white;
    font-family: 'Segoe UI';
    margin-left: 105px;
    margin-top: 110px;
    font-size: 20px;
    font-weight: 350;
    text-decoration: none;
 }

 #slidehis a{
    margin-top: 13px;
    text-decoration: none;


 }
 


/*-------------------------------camisetas venda */

.vendaprods{
    display: flex;
    justify-content: center;
}

 #camiseta222 img {
	max-width: 100%;
    align-items: center;
}

#camiseta222 {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	width: 300px;
	text-align: center;
}

#camiseta222 img {
	max-width: 100%;
    border: none;
    border-radius: 20px;
}
#camiseta222 img:hover {
    opacity: 90%;
}

#camiseta222 h2 {
    font-family: "Montserrat", sans-serif ;
	font-size: 20px;
    font-weight:700;
	margin-top: 5px;
}

#camiseta222 p {
	font-size: 18px;
	margin-top: -1px;
}


/*--------------------------------------camisetas venda */

/*----------------------------------- rodape */

footer {
    background-color: #eae9e9;
	color: #fff;
	padding: 11% 0;
}

img#logordp{
    position: absolute;
    margin-left: 7vw;
    margin-top: -23vh;
    height: 25vh;
}
p#plogo{
    color: rgb(128, 128, 128) ;
    position: absolute;
    margin-left: 20vw;
    margin-top: -14.2vh;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 200;
}

h1#h1logo{
    position: absolute;
    margin-left: 20vw;
    margin-top: -12vh;
    font-size: 1.7rem;
    color: gray;
    font-weight: 700;
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
}
h2#h2logo{
    position: absolute;
    margin-left: 20vw;
    margin-top: -10.9vh;
    color: gray;
    font-weight: 200;
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}
img#icntelef{
    position: absolute;
    margin-left: 12.5vw;
    margin-top: 10vh;
    height: 9vh;
}
img#icnwpp{
    position: absolute;
    height: 9vh;
    margin-top: 10vh;
    margin-left: 45vw;
}
img#icninsta{
    position: absolute;
    height: 7.2vh;
    margin-top: -3vh;
    margin-left: 75.2vw;
}
img#icnfb{
    position: absolute;
    height: 7.2vh;
    margin-top: -3vh;
    margin-left: 79.2vw;
}
img#icnyt{
    position: absolute;
    height: 7.2vh;
    margin-top: -3vh;
    margin-left: 83.2vw;
}
img#icnemail{
    position: absolute;
    height: 9vh;
    margin-top: 10vh;
    margin-left: 75vw;
}



/*----------------------------------- rodape */
hr{
    opacity: 20%;
}
hr#hrrdp{
    position: absolute;
    margin-left: 19.4vw;
    margin-top: -18vh;
    opacity: 100%;
    height: 120px;
    width: 1.8px;
    background-color: rgba(128, 128, 128, 0.81) ;
    border: none;
}